<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-screening triage questionnaire</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<h1>What is wrong with your body?</h1>
<div class="select-container">
    <select class="styled-select" id="discomfortLocation" onchange="displayQuestions()">
        <option value="" disabled selected>Select body parts</option>
        <option value="head">Heads</option>
        <option value="abdomen">Abdomen</option>
        <option value="chest">Chest</option>
        <option value="leg">Legs</option>
    </select>
</div>

<div id="headQuestions" class="hidden">
    <h2>If you selected "Head," please answer the following questions:</h2>
    <h3>Are there any other symptoms accompanying your headache?</h3>
    <input type="radio" id="optionA1" name="headacheSymptoms" value="A">
    <label for="optionA1">A. Fatigue, tension, insomnia, memory loss, and mood swings</label><br>
    <input type="radio" id="optionB1" name="headacheSymptoms" value="B">
    <label for="optionB1">B. Nausea, vomiting, weakness on one side of the body, inability to speak</label><br>
    <input type="radio" id="optionC1" name="headacheSymptoms" value="C">
    <label for="optionC1">C. Dizziness, ringing in the ears, or nasal congestion, purulent nasal discharge or blood</label><br>
    <input type="radio" id="optionD1" name="headacheSymptoms" value="D">
    <label for="optionD1">D. Hypertension or kidney disease, or headache accompanied by fever</label><br>
    <input type="radio" id="optionE1" name="headacheSymptoms" value="E">
    <label for="optionE1">E. Sensitivity to light, blurred vision, or pain around the eyes or above the eye socket</label><br>
    <input type="radio" id="optionF1" name="headacheSymptoms" value="F">
    <label for="optionF1">F. Closely related to horizontal head movement, accompanied by dizziness and numbness in the arms</label><br>
    <input type="radio" id="optionG1" name="headacheSymptoms" value="G">
    <label for="optionG1">G. Have you experienced any trauma or bleeding?</label><br>
    <button onclick="showSuggestion()">Submit</button>
</div>

<div id="abdomenQuestions" class="hidden">
    <h2>If you selected "Abdomen," please answer the following questions:</h2>
    <h3>Are there any other symptoms accompanying your abdominal pain?</h3>
    <input type="radio" id="optionA2" name="abdomenSymptoms" value="A">
    <label for="optionA2">A. Pain in the upper and lower right abdomen</label><br>
    <input type="radio" id="optionB2" name="abdomenSymptoms" value="B">
    <label for="optionB2">B. Pain in the upper and lower left abdomen</label><br>
    <input type="radio" id="optionC2" name="abdomenSymptoms" value="C">
    <label for="optionC2">C. Pain in the upper and lower middle abdomen</label><br>
    <input type="radio" id="optionD2" name="abdomenSymptoms" value="D">
    <label for="optionD2">D. Severe abdominal pain, accompanied by vomiting and diarrhea</label><br>
    <input type="radio" id="optionE2" name="abdomenSymptoms" value="E">
    <label for="optionE2">E. Frequent burping, heartburn, or discomfort after eating</label><br>
    <input type="radio" id="optionF2" name="abdomenSymptoms" value="F">
    <label for="optionF2">F. Lower abdominal pain, accompanied by increased frequency of urination or pain during urination</label><br>
    <button onclick="showSuggestion()">Submit</button>
</div>

<div id="chestQuestions" class="hidden">
    <h2>If you selected "Chest," please answer the following questions:</h2>
    <h3>Are there any other symptoms accompanying your chest discomfort?</h3>
    <input type="radio" id="optionA3" name="chestSymptoms" value="A">
    <label for="optionA3">A. Shortness of breath, palpitations, and dizziness</label><br>
    <input type="radio" id="optionB3" name="chestSymptoms" value="B">
    <label for="optionB3">B. Chest tightness or pain radiating to the neck, jaw, left shoulder, or arm</label><br>
    <input type="radio" id="optionC3" name="chestSymptoms" value="C">
    <label for="optionC3">C. Burning sensation or discomfort in the chest after eating, or acid regurgitation</label><br>
    <input type="radio" id="optionD3" name="chestSymptoms" value="D">
    <label for="optionD3">D. Cough, phlegm, or shortness of breath, accompanied by fever or chest pain</label><br>
    <input type="radio" id="optionE3" name="chestSymptoms" value="E">
    <label for="optionE3">E. Chest discomfort associated with exercise, relieved by rest</label><br>
    <button onclick="showSuggestion()">Submit</button>
</div>


<div id="legQuestions" class="hidden">
        <h2>If you selected "Legs," please answer the following questions:</h2>
        <h3>Are there any other symptoms accompanying your leg discomfort?</h3>
        <input type="radio" id="optionA4" name="legSymptoms" value="A">
        <label for="optionA4">A. Swelling, redness, or warmth in the affected leg</label><br>
        <input type="radio" id="optionB4" name="legSymptoms" value="B">
        <label for="optionB4">B. Sharp pain or cramps in the leg, worsened by walking or exercising</label><br>
        <input type="radio" id="optionC4" name="legSymptoms" value="C">
        <label for="optionC4">C. Sores or ulcers on the leg that are slow to heal</label><br>
        <input type="radio" id="optionD4" name="legSymptoms" value="D">
        <label for="optionD4">D. Numbness or tingling in the leg, accompanied by weakness</label><br>
        <input type="radio" id="optionE4" name="legSymptoms" value="E">
        <label for="optionE4">E. Leg pain and swelling after prolonged sitting or standing</label><br>
        <button onclick="showSuggestion()">Submit</button>
    </div>

<div id="suggestion" class="hidden">
    <div id="popup" class="popup">
        <h2>We suggest you go to:</h2>
        <p id="department"></p>
        <button onclick="returnToSelection()">return</button>
    </div>
</div>



<script>
    function displayQuestions() {
        resetSuggestion();
        const location = document.getElementById("discomfortLocation").value;
        const headQuestions = document.getElementById("headQuestions");
        const abdomenQuestions = document.getElementById("abdomenQuestions");
        const chestQuestions = document.getElementById("chestQuestions");
        const legQuestions = document.getElementById("legQuestions");

        headQuestions.classList.add("hidden");
        abdomenQuestions.classList.add("hidden");
        chestQuestions.classList.add("hidden");
        legQuestions.classList.add("hidden");

        switch (location) {
            case "head":
                headQuestions.classList.remove("hidden");
                headQuestions.classList.add("fade-in");
                break;
            case "abdomen":
                abdomenQuestions.classList.remove("hidden");
                abdomenQuestions.classList.add("fade-in");
                break;
            case "chest":
                chestQuestions.classList.remove("hidden");
                chestQuestions.classList.add("fade-in");
                break;
            case "leg":
                legQuestions.classList.remove("hidden");
                legQuestions.classList.add("fade-in");
                break;
        }
    }



    function showSuggestion() {
        const headOption = document.querySelector('input[name="headacheSymptoms"]:checked');
        const abdomenOption = document.querySelector('input[name="abdomenSymptoms"]:checked');
        const chestOption = document.querySelector('input[name="chestSymptoms"]:checked');
        const legOption = document.querySelector('input[name="legSymptoms"]:checked');
        const popup = document.getElementById("popup");
        const mainContent = document.querySelector("body > :not(#suggestion)");
        const sectionsToHide = document.querySelectorAll("#headQuestions, #abdomenQuestions, #chestQuestions, #legQuestions");

        let selectedOption = '';

        if (headOption) {
            selectedOption = headOption.value + '1';
        } else if (abdomenOption) {
            selectedOption = abdomenOption.value + '2';
        } else if (chestOption) {
            selectedOption = chestOption.value + '3';
        } else if (legOption) {
            selectedOption = legOption.value + '4';
        }

        const department = document.getElementById("department");
        const suggestion = document.getElementById("suggestion");
        let suggestedDepartment;

        switch (selectedOption) {
            case "A1":
                suggestedDepartment = "Neurology Department";
                break;
            case "B1":
                suggestedDepartment = "Emergency Neurology Department";
                break;
            case "C1":
                suggestedDepartment = "Otolaryngology Department";
                break;
            case "D1":
                suggestedDepartment = "Internal Medicine Department";
                break;
            case "E1":
                suggestedDepartment = "Ophthalmology Department";
                break;
            case "F1":
                suggestedDepartment = "Spinal Surgery or Rehabilitation Department";
                break;
            case "G1":
                suggestedDepartment = "Neurosurgery Department";
                break;
            case "A2":
                suggestedDepartment = "Surgery Department";
                break;
            case "B2":
                suggestedDepartment = "Gastroenterology Department";
                break;
            case "C2":
                suggestedDepartment = "General Surgery or Gastroenterology Department";
                break;
            case "D2":
                suggestedDepartment = "Gynecology or Urology Department";
                break;
            case "E2":
                suggestedDepartment = "Gastroenterology Department";
                break;
            case "F2":
                suggestedDepartment = "Emergency Department or Call Emergency Services";
                break;
            case "A3":
                suggestedDepartment = "Respiratory Medicine or Thoracic Surgery Department";
                break;
            case "B3":
                suggestedDepartment = "Thoracic Surgery Department";
                break;
            case "C3":
                suggestedDepartment = "Emergency Department or Vascular Surgery Department";
                break;
            case "D3":
                suggestedDepartment = "Cardiology Department";
                break;
            case "E3":
                suggestedDepartment = "Orthopedics or Thoracic Surgery Department";
                break;
            case "A4":
                suggestedDepartment = "Orthopedics - Spinal Surgery Department";
                break;
            case "B4":
                suggestedDepartment = "Orthopedics Department";
                break;
            case "C4":
                suggestedDepartment = "Endocrinology or Rheumatology Department";
                break;
            case "D4":
                suggestedDepartment = "Vascular Surgery Department";
                break;
            case "E4":
                suggestedDepartment = "Rheumatology Department";
                break;
            default:
                suggestedDepartment = "Unknown";
        }


        sectionsToHide.forEach((section) => {
            section.classList.add("hidden");
        });

        department.textContent = suggestedDepartment;
        mainContent.style.display = "none";
        suggestion.classList.remove("hidden");
        popup.classList.add("fade-in");
    }

    function resetSuggestion() {
        const suggestion = document.getElementById("suggestion");
        suggestion.classList.add("hidden");
    }

    function returnToSelection() {
        resetSuggestion();
        const suggestion = document.getElementById("suggestion");
        const popup = document.getElementById("popup");
        const mainContent = document.querySelector("body > :not(#suggestion)");

        suggestion.classList.add("hidden");
        popup.classList.remove("fade-in");
        mainContent.style.display = "block";
    }
</script>
</body>
</html>
