<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-check Triage Questionnaire</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<h1>Where do you feel discomfort?</h1>
<div class="select-container">
    <select class="styled-select" id="discomfortLocation" onchange="displayQuestions()">
        <option value="" disabled selected>Select location</option>
        <option value="head">Head</option>
        <option value="abdomen">Abdomen</option>
        <option value="chest">Chest</option>
        <option value="leg">Leg</option>
    </select>
</div>

<div id="headQuestions" class="hidden">
    <h2>If you chose "Head", please answer the following questions:</h2>
    <h3>Does your headache come with other symptoms:</h3>
    <input type="radio" id="optionA1" name="headacheSymptoms" value="A">
    <label for="optionA1">A. Fatigue, tension, insomnia, memory loss, emotional instability</label><br>
    <input type="radio" id="optionB1" name="headacheSymptoms" value="B">
    <label for="optionB1">B. Nausea and vomiting, one-sided limb weakness, speechlessness</label><br>
    <input type="radio" id="optionC1" name="headacheSymptoms" value="C">
    <label for="optionC1">C. Dizziness, tinnitus, or nasal congestion, purulent or bloody nasal discharge</label><br>
    <input type="radio" id="optionD1" name="headacheSymptoms" value="D">
    <label for="optionD1">D. High blood pressure or kidney disease, or headache accompanied by fever</label><br>
    <input type="radio" id="optionE1" name="headacheSymptoms" value="E">
    <label for="optionE1">E. Photosensitivity, blurred vision or pain around the eyes and on the orbital region</label><br>
    <input type="radio" id="optionF1" name="headacheSymptoms" value="F">
    <label for="optionF1">F. Closely related to horizontal rotation of the head, accompanied by dizziness and arm numbness</label><br>
    <input type="radio" id="optionG1" name="headacheSymptoms" value="G">
    <label for="optionG1">G. Have you suffered from trauma, is there any bleeding</label><br>
    <button onclick="showSuggestion()">Submit</button>
</div>


<div id="abdomenQuestions" class="hidden">
    <h2>If you chose "Abdomen", please answer the following questions:</h2>
    <h3>Does your abdominal pain come with other symptoms:</h3>
    <input type="radio" id="optionA2" name="abdomenSymptoms" value="A">
    <label for="optionA2">A. Pain in the upper and lower right abdomen</label><br>
    <input type="radio" id="optionB2" name="abdomenSymptoms" value="B">
    <label for="optionB2">B. Pain in the upper middle abdomen</label><br>
    <input type="radio" id="optionC2" name="abdomenSymptoms" value="C">
    <label for="optionC2">C. Pain in the upper left abdomen</label><br>
    <input type="radio" id="optionD2" name="abdomenSymptoms" value="D">
    <label for="optionD2">D. Pain in the lower middle abdomen</label><br>
    <input type="radio" id="optionE2" name="abdomenSymptoms" value="E">
    <label for="optionE2">E. Pain throughout the abdominal cavity</label><br>
    <input type="radio" id="optionF2" name="abdomenSymptoms" value="F">
    <label for="optionF2">F. Severe pain, even unbearable</label><br>
    <button onclick="showSuggestion()">Submit</button>
</div>


<div id="chestQuestions" class="hidden">
    <h2>If you chose "Chest", please answer the following questions:</h2>
    <h3>Does your abdominal pain come with other symptoms:</h3>
    <input type="radio" id="optionA3" name="chestSymptoms" value="A">
    <label for="optionA3">A. Comes with cough, worsens when taking deep breaths or exhaling</label><br>
    <input type="radio" id="optionB3" name="chestSymptoms" value="B">
    <label for="optionB3">B. Sudden severe chest pain after exercise, accompanied by difficulty breathing</label><br>
    <input type="radio" id="optionC3" name="chestSymptoms" value="C">
    <label for="optionC3">C. Sudden tearing pain in the chest and back, accompanied by high blood pressure</label><br>
    <input type="radio" id="optionD3" name="chestSymptoms" value="D">
    <label for="optionD3">D. Pain in the chest or sternum, feeling of pressure, accompanied by palpitations and shortness of breath</label><br>
    <input type="radio" id="optionE3" name="chestSymptoms" value="E">
    <label for="optionE3">E. Due to fractures or other injuries, the pain worsens when bending over or bending sideways</label><br>
    <button onclick="showSuggestion()">Submit</button>
</div>


<div id="legQuestions" class="hidden">
    <h2>If you chose "Leg", please answer the following questions:</h2>
    <h3>Does your leg pain come with other symptoms:</h3>
    <input type="radio" id="optionA5" name="legSymptoms" value="A">
    <label for="optionA5">A. Pain on the outside of the lower limb, the pain extends to the buttocks or waist</label><br>
    <input type="radio" id="optionB5" name="legSymptoms" value="B">
    <label for="optionB5">B. Pain in the joints of the thighs and calves after exercise</label><br>
    <input type="radio" id="optionC5" name="legSymptoms" value="C">
    <label for="optionC5">C. Redness, swelling, and pain in the ankle and toe joints, with a feeling of heat, especially after eating seafood or beer</label><br>
    <input type="radio" id="optionD5" name="legSymptoms" value="D">
    <label for="optionD5">D. Swelling in the calves and pain upon finger pressure after sitting for a long time, pain when walking but rest can relieve it</label><br>
    <input type="radio" id="optionE5" name="legSymptoms" value="E">
    <label for="optionE5">E. Symmetrical pain in multiple joints throughout the body, such as the knee joints or small joints of the hand</label><br>
    <button onclick="showSuggestion()">Submit</button>
</div>


<div id="suggestion" class="hidden">
    <div id="popup" class="popup">
        <h2>We suggest you to consult with:</h2>
        <p id="department"></p>
        <button onclick="returnToSelection()">Return</button>
    </div>
</div>




<script>
    function displayQuestions() {
        resetSuggestion();
        const location = document.getElementById("discomfortLocation").value;
        const headQuestions = document.getElementById("headQuestions");
        const abdomenQuestions = document.getElementById("abdomenQuestions");
        const chestQuestions = document.getElementById("chestQuestions");
        const legQuestions = document.getElementById("legQuestions");

        headQuestions.classList.add("hidden");
        abdomenQuestions.classList.add("hidden");
        chestQuestions.classList.add("hidden");
        legQuestions.classList.add("hidden");

        switch (location) {
            case "head":
                headQuestions.classList.remove("hidden");
                headQuestions.classList.add("fade-in");
                break;
            case "abdomen":
                abdomenQuestions.classList.remove("hidden");
                abdomenQuestions.classList.add("fade-in");
                break;
            case "chest":
                chestQuestions.classList.remove("hidden");
                chestQuestions.classList.add("fade-in");
                break;
            case "leg":
                legQuestions.classList.remove("hidden");
                legQuestions.classList.add("fade-in");
                break;
        }
    }



    function showSuggestion() {
        const headOption = document.querySelector('input[name="headacheSymptoms"]:checked');
        const abdomenOption = document.querySelector('input[name="abdomenSymptoms"]:checked');
        const chestOption = document.querySelector('input[name="chestSymptoms"]:checked');
        const legOption = document.querySelector('input[name="legSymptoms"]:checked');
        const popup = document.getElementById("popup");
        const mainContent = document.querySelector("body > :not(#suggestion)");
        const sectionsToHide = document.querySelectorAll("#headQuestions, #abdomenQuestions, #chestQuestions, #legQuestions");

        let selectedOption = '';

        if (headOption) {
            selectedOption = headOption.value + '1';
        } else if (abdomenOption) {
            selectedOption = abdomenOption.value + '2';
        } else if (chestOption) {
            selectedOption = chestOption.value + '3';
        } else if (legOption) {
            selectedOption = legOption.value + '4';
        }

        const department = document.getElementById("department");
        const suggestion = document.getElementById("suggestion");
        let suggestedDepartment;

        switch (selectedOption) {
            case "A1":
                suggestedDepartment = "Neurology";
                break;
            case "B1":
                suggestedDepartment = "Emergency Neurology";
                break;
            case "C1":
                suggestedDepartment = "Otorhinolaryngology (ENT)";
                break;
            case "D1":
                suggestedDepartment = "Internal Medicine";
                break;
            case "E1":
                suggestedDepartment = "Ophthalmology";
                break;
            case "F1":
                suggestedDepartment = "Spine Surgery or Physical Therapy";
                break;
            case "G1":
                suggestedDepartment = "Neurosurgery";
                break;
            case "A2":
                suggestedDepartment = "Surgery";
                break;
            case "B2":
                suggestedDepartment = "Gastroenterology";
                break;
            case "C2":
                suggestedDepartment = "General Surgery or Gastroenterology";
                break;
            case "D2":
                suggestedDepartment = "Gynecology or Urology";
                break;
            case "E2":
                suggestedDepartment = "Gastroenterology";
                break;
            case "F2":
                suggestedDepartment = "Emergency Medicine or call the emergency number";
                break;
            case "A3":
                suggestedDepartment = "Respiratory Medicine or Thoracic Surgery";
                break;
            case "B3":
                suggestedDepartment = "Thoracic Surgery";
                break;
            case "C3":
                suggestedDepartment = "Emergency Medicine or Vascular Surgery";
                break;
            case "D3":
                suggestedDepartment = "Cardiology";
                break;
            case "E3":
                suggestedDepartment = "Orthopedics or Thoracic Surgery";
                break;
            case "A4":
                suggestedDepartment = "Spine Surgery in Orthopedics";
                break;
            case "B4":
                suggestedDepartment = "Orthopedics";
                break;
            case "C4":
                suggestedDepartment = "Endocrinology or Rheumatology";
                break;
            case "D4":
                suggestedDepartment = "Vascular Surgery";
                break;
            case "E4":
                suggestedDepartment = "Rheumatology";
                break;
            default:
                suggestedDepartment = "Unknown";
        }


        sectionsToHide.forEach((section) => {
            section.classList.add("hidden");
        });

        department.textContent = suggestedDepartment;
        mainContent.style.display = "none";
        suggestion.classList.remove("hidden");
        popup.classList.add("fade-in");
    }

    function resetSuggestion() {
        const suggestion = document.getElementById("suggestion");
        suggestion.classList.add("hidden");
    }

    function returnToSelection() {
        resetSuggestion();
        const suggestion = document.getElementById("suggestion");
        const popup = document.getElementById("popup");
        const mainContent = document.querySelector("body > :not(#suggestion)");

        suggestion.classList.add("hidden");
        popup.classList.remove("fade-in");
        mainContent.style.display = "block";
    }
</script>
</body>
</html>
